
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Apple_Computer_Logo_rainbow.svg/1200px-Apple_Computer_Logo_rainbow.svg.png" alt="..." height="50" /></a>
    </div>
    <ul class="nav navbar-nav nav-pills">
      <li routerLinkActive="active">
        <a routerLink="/startertemplateform">Starter Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/basicform">Basic Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/templateform"> Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/starterreactiveform"> Starter Reactive Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/reactiveform"> Reactive Form</a>
      </li>
    </ul>
  </nav>
  
  <main>
    <router-outlet></router-outlet>
  </main>

  